$webfont: true;
$support-legacy: true;

/* === Colors === */
$color-dark: #1d2328;
$color-orange: #fd8700;

$color-link: $color-orange;
$color-link-hover: darken($color-orange, 10);

/* === Base === */
$base-background: #fafafa;
$base-font-size: 16px;
$base-font-family: 'Source Sans Pro', sans-serif;
$base-line-height: 150%;
$base-color: #1d2328;

/* === Headlines === */
$h1-font-size: 52px;
$h2-font-size: 42px;
$h3-font-size: 22px;
$h4-font-size: 18px;

$h1-font-family: $base-font-family;
$h2-font-family: $base-font-family;
$h3-font-family: $base-font-family;
$h4-font-family: $base-font-family;

$h1-color: $color-dark;
$h2-color: $color-dark;
$h3-color: $color-dark;
$h4-color: $color-dark;

/* === Breakpoints === */
$large: 960px;
$middle: 640px;
$small: 480px;

/* === Form === */
$form-border-color-focus: $color-orange;
$form-submit-color: $color-orange;
$form-submit-color-hover: #444;

/* === Grid === */
$grid-cols: 12;
$grid-gutter: 2%;
