* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: $base-background;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $base-color;

	@include webfont {
		font-weight: 300;
	}
}

p {
	margin: 0 0 25px 0;
}

/* === Links === */
a img {
	border: 0;
}

a:focus {
	outline: none;
}

a:link,
a:visited {
	transition: 0.4s;
	color: $color-link;
	text-decoration: none;
}

a:hover {
	color: $color-link-hover;
	text-decoration: none;
}

a[href$='.pdf'] {
	background: url("../images/icons/pdficon_small.png") no-repeat;
	padding: 0 0 0 22px;
}

/* === Images === */
img {
	max-width: 100%;
	height: auto;
}

/* === iFrames === */
iframe {
	max-width: 100%;
}

/* === Headlines === */
h1 {
	margin: 0;
	font-family: $h1-font-family;
	font-size: $h1-font-size;
	line-height: 120%;
	color: $h1-color;
}

h2 {
	margin: 0;
	font-family: $h2-font-family;
	font-size: $h2-font-size;
	line-height: 120%;
	color: $h2-color;
}

h3 {
	margin: 0;
	font-family: $h3-font-family;
	font-size: $h3-font-size;
	line-height: 120%;
	color: $h3-color;
}

h4 {
	margin: 0;
	font-family: $h4-font-family;
	font-size: $h4-font-size;
	line-height: 120%;
	color: $h4-color;
}

/* === Clearfix === */
.clearfix {
	@extend %clearfix;
}