$webfont: true;
$support-legacy: true;

/* === Colors === */
$color-dark: #1d2328;
$color-orange: #fd8700;

$color-brand1: $color-orange;
$color-brand2: $color-dark;

$color-link: $color-brand1;
$color-link-hover: darken($color-brand1, 10);

/* === Fonts === */
$font-sourcesans: 'Source Sans Pro', sans-serif;
$font-arial: 'Arial', sans-serif;

$font-brand1: $font-sourcesans;
$font-brand2: $font-arial;

/* === Base === */
$base-background: #fafafa;
$base-font-size: 16px;
$base-font-family: $font-sourcesans;
$base-line-height: 150%;
$base-color: $color-brand2;

/* === Headlines === */
$h1-font-size: 52px;
$h2-font-size: 42px;
$h3-font-size: 22px;
$h4-font-size: 18px;

$h1-font-family: $base-font-family;
$h2-font-family: $base-font-family;
$h3-font-family: $base-font-family;
$h4-font-family: $base-font-family;

$h1-color: $color-brand2;
$h2-color: $color-brand2;
$h3-color: $color-brand2;
$h4-color: $color-brand2;

/* === Breakpoints === */
$large: 960px;
$middle: 640px;
$small: 480px;

/* === Form === */
$form-border-color-focus: $color-brand1;
$form-submit-color: $color-brand1;
$form-submit-color-hover: #444;

/* === Grid === */
$grid-cols: 12;
$grid-gutter: 2%;
